.detailedProfile{

    @include flex(flex-start, flex-start);
    flex-direction: column;
    gap: 20px;
    .userProf__container{
        @include flex(space-between);
        width: 100%;
        
        .downloadCV{
            @include flex(space-between);
            cursor: pointer;
            width: 85px;
            padding: 10px;
            color: $theme-red;
            background-color: darken($color: $card-color, $amount: 7);
            span{
                font-weight: bold;
                color: $theme-color;
            }

            &:hover{
            background-color: darken($color: $card-color, $amount: 15);

            }
        }
    }
    .userProfile{
        width: 40%;
        height: 100px;

        @include flex(space-between);
        

        .pic {  
            flex-shrink: 0;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;

            background-color: yellowgreen;
        }
        .name {
            font-size: 1.8rem;
            font-weight: bold;

            color: $theme-color;
        }

    }
    .about{
        padding: 0 10px;
        max-height: 150px;
        overflow: auto;
    }

    .wantedCat{
        @include flex(flex-start, flex-start);
        gap: 10px;
    }
}