.jobInfoArea{

    position: fixed;
    right: 0;
    top: 0;

    width: 75vw;
    height: 100vh;
    background-color: $card-color;

    border-left: 2px solid #9c9c9c;

    .container {
        @include flex(flex-start, flex-start);
        
    }

    .closeInfoButton{   
        width: 30px;
        height: 30px;
        border-radius:20px 0 0 20px;
        background-color: $theme-red;
        transform: translate(-100%, 20%);
    }

    .jobInfo{
        width: 59%;
        border-right: 1px solid #DFDFDF;

        padding: 20px;
        
        display: flex;
        flex-direction: column;
        gap: 30px;

        overflow-y: auto;

    }

    .appliedUsers{
        @include flex(flex-start, flex-start);
        flex-wrap: wrap;
        gap: 10px;
    }


    .acceptedClient{

        height: 100px;
        ul {
            height: 100%;
            @include flex(flex-start, flex-start);
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 10px;
            list-style: none;
        }

        li {
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: bolder;
            color: $secondary-theme-color;
        }
    }

}

.profileModal{
    @include position-center;

    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 50vw;
    max-height: 450px;
    overflow-y: auto;

    padding: 10px;

    
    
    outline: none;

    border-radius: 10px;
    background-color: $card-color;
}