$background-color: #F5F0FC;

$theme-color:  #19191C;
$secondary-theme-color: #828EFF;

$theme-red: #FF7777;
$theme-green: #4CE8CC;
$card-color: #E3E3E3;
$default-border-radius: 20px;

$logo-padding: 50px;

$mobile-view: 650px;